<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ufln2?zeroDateTimeBehavior</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">poo123</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="Model.Pojo.Aluno"/>
    <mapping class="Model.Pojo.Turma"/>
    <mapping class="Model.Pojo.Disciplina"/>
    <mapping class="Model.Pojo.Professor"/>
    <mapping class="Model.Pojo.Turma"/>
    <mapping class="Model.Pojo.Atividade"/>
    <mapping class="Model.Pojo.Nota"/>
    <mapping class="Model.Pojo.Falta"/>
  </session-factory>
</hibernate-configuration>